<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
	<trust level="Full" />
<pages>
    <controls>
        <add tagPrefix="webopt" assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" />
	  <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls>


	
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      </pages>
		
	<customErrors mode="Off"/>
		<!--<customErrors mode="On" defaultRedirect="Error" redirectMode="ResponseRewrite">
			<error redirect="Error/NotFound" statusCode="404" />
		</customErrors>-->

    </system.web>
	
	 <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

<connectionStrings>
    <add name="APPORGdbConnection" connectionString="Data Source=A2NWPLSK14SQL-v02.shr.prod.iad2.secureserver.net;Integrated Security=None;Initial Catalog=APPORGADMIN" providerName="System.Data.SqlClient" />
  </connectionStrings>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>

  </system.codedom>
</configuration>
